{% extends CMS_TEMPLATE %}
{% load cms_tags %}

{% block content %}
<div class="page-header page-title">
    <div class="container">
        <h1>Blåsbasen <small>Personregistret</small></h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-pills nav-justified">
                {% for f in filters %}
                <li{% if request.GET.tab = f.id or not request.GET.tab and f.default %} class="active"{% endif %}>
                    <a href="#{{ f.id }}" data-toggle="tab">{{ f.name }} <span class="badge">{{ f.content.count }}</span></a>
                    </li>
                    {% endfor %}
            </ul>

            <div class="tab-content">
                {% for f in filters %}
                <div class="tab-pane {% if request.GET.tab = f.id or not request.GET.tab and f.default %}active{% endif %}" id="{{ f.id }}">
                    <table class="table table-hover">
                        <tr>
                            {% if perms.blasbasen.change_person %}
                            <th></th>
                            {% endif %}
                            <th>Förnamn<a href="?sort=first_name&tab={{ f.id }}&{{ search_params.urlencode }}" class="pull-right"><span class="fa fa-sort-alpha-asc"></span></a></th>
                            <th>Blåsnamn<a href="?sort=nickname&tab={{ f.id }}&{{ search_params.urlencode }}" class="pull-right"><span class="fa fa-sort-alpha-asc"></span></a></th>
                            <th>Efternamn<a href="?sort=last_name&tab={{ f.id }}&{{ search_params.urlencode }}" class="pull-right"><span class="fa fa-sort-alpha-asc"></span></a></th>
                            <th>Sektion</th>
                            <th>Startår</th>
                            <th>Slutår</th>
                        </tr>

                        {% for person in f.content %}
                        <tr>
                            {% if perms.blasbasen.change_person %}
                            <td><a href="{{ person.id }}/change/"><span class="fa fa-lg fa-edit"></span></a></td>
                            {% endif %}
                            <td><a href="{{ person.id }}/">{{ person.first_name }}</a></td>
                            <td><a href="{{ person.id }}/">{{ person.nickname }}</a></td>
                            <td><a href="{{ person.id }}/">{{ person.last_name }}</a></td>
                            <td>#TODO</td>
                            <td>{{ person.start_date.year }}</td>
                            <td>{{ person.end_date.year }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3">
            <form role="form" method="get" action=".">
                <input type="hidden" name="search" value="s">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" value="{{ request.GET.name }}" placeholder="Snabbsök på namn">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="fa fa-search"></span>
                            </button> </span>

                    </div>
                </div>
            </form>
            {% if request.GET.search %}
            <div class="form-group">
                <a href="." class="form-control btn btn-warning"><span class="fa fa-times"></span> Återställ och visa alla</a>
            </div>
            {% endif %}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#advancedsearch"> Avancerad sökning </a></h4>
                    </div>
                    <div id="advancedsearch_" class="panel-collapse collapse">

                        

                            <div class="panel-body">
                                
                                
                            </div>
                            
                        
                    </div>
                    <div id="advancedsearch" class="list-group panel-collapse collapse{% if request.GET.search = 'a' %} in{% endif %}">
                        <form role="form" method="get" action=".">
                            <input type="hidden" name="search" value="a">
                            <div class="list-group-item">
                                
                                <div class="form-group">
                                    <label for="name">Namn</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{ request.GET.name }}" placeholder="Namn">
                                </div>
                                <div class="form-group">
                                    <label for="gender">Kön</label>
                                    <select class="form-control" id="gender" name="gender">
                                        <option {% if request.GET.gender = '' %}selected=""{% endif %} value="">Vilket som</option>
                                        <option {% if request.GET.gender = 'f' %}selected=""{% endif %} value="f">Kvinna</option>
                                        <option {% if request.GET.gender = 'm' %}selected=""{% endif %} value="m">Man</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="city">Stad</label>
                                    <input type="text" class="form-control" id="city" name="city" value="{{ request.GET.city }}" placeholder="Stad">
                                    <p class="help-block">
                                        Använd kommatecken för att ange flera
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="countries">Länder</label>
                                    <select multiple class="form-control" id="countries" name="country">
                                        <option>1</option>
                                    </select>
                                    <p class="help-block">
                                        Tips: Använd Ctrl eller Cmd (⌘)
                                    </p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">Medlemsskap</h5>
                                <div class="form-group">
                                    <label for="sections">Sektioner</label>
                                    <select multiple class="form-control" id="sections" name="section">
                                        {% for s in sections %}
                                        <option value="{{ s.id }}">{{ s }}</option>
                                        {% endfor %}
                                    </select>
                                    <p class="help-block">
                                        Tips: Använd Ctrl eller Cmd (⌘)
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="posts">Poster</label>
                                    <select multiple class="form-control" id="posts" name="post">
                                        {% for p in posts %}
                                        <option value="{{ p.id }}">{{ p }}</option>
                                        {% endfor %}
                                    </select>
                                    <p class="help-block">
                                        Tips: Använd Ctrl eller Cmd (⌘)
                                    </p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">Visa</h5>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" {% if request.GET.w_login or not request.GET.search = 'a' %}checked="checked"{% endif %} name="w_login">
                                        Personer med inloggningskonto </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" {% if request.GET.wo_login or not request.GET.search = 'a' %}checked="checked"{% endif %} name="wo_login">
                                        Personer utan inloggningskonto </label>
                                </div>
                            </div>
                        </form>
                        <div class="panel-footer">
                                <button type="submit" class="btn btn-primary btn-sm form-control">
                                    <span class="fa fa-search"></span> Sök
                                </button>
                            </div>
                    </div>
                    
                </div>
            </div>
            <h3>Åtgärder</h3>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#export"> Exportera och visa</a></h4>
                    </div>
                    <div class="panel-body panel-collapse collapse"></div>
                    <div id="export" class="list-group panel-collapse collapse">
                        <a href="" class="list-group-item"><span class="fa fa-fw fa-link"></span> Permalänk</a>
                        <a href="" class="list-group-item"><span class="fa fa-fw fa-globe"></span> Visa på Google Maps</a>
                        <a href="" class="list-group-item"><span class="fa fa-fw fa-file-o"></span> Exportera vCard</a>
                        <a href="" class="list-group-item"><span class="fa fa-fw fa-file-text-o"></span> Exportera CSV</a>
                        <a href="" class="list-group-item"><span class="fa fa-fw fa-file-pdf-o"></span> Exportera PDF</a>
                    </div>

                </div>
                {% if perms.blasbasen.add_person or perms.blasbasen.change_person or perms.blasbasen.delete_person %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#admin"> Administrera </a></h4>
                    </div>
                    <div class="panel-body panel-collapse collapse"></div>
                    <div id="admin" class="list-group panel-collapse collapse">
                        <a href="" class="list-group-item"><span class="fa fa-fw fa-user"></span> Lägg till person</a>
                        <a href="" class="list-group-item"><span class="fa fa-fw fa-users"></span> Lägg till sektion</a>
                        <a href="" class="list-group-item"><span class="fa fa-fw fa-graduation-cap"></span> Lägg till post</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
