BeautifulSoup==3.2.1
Django==1.6.6
Pillow==6.2.0
South==1.0
argparse==1.2.1
certifi==14.05.14
django-appconf==0.6
django-classy-tags==0.5.1
django-cms==3.0.5
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-filter==0.7
django-imagekit==3.2.2
django-localflavor==1.0
django-markdown-deux==1.0.4
django-mptt==0.6.1
django-polymorphic==0.5.5
django-reversion==1.8.2
django-sekizai==0.7
djangocms-admin-style==0.2.2
djangocms-link==1.4.0
-e git+https://github.com/ovidner/djangocms-markdown/#egg=djangocms_markdown-master
-e git+https://github.com/ovidner/djangocms-parallax/#egg=djangocms_parallax-master
djangocms-picture==0.0.4
djangocms-text-ckeditor==2.3.0
easy-thumbnails==2.1
html5lib==1.0b3
markdown2==2.2.2
pilkit==1.1.9
pycountry==1.8
python-dateutil==2.2
requests==2.4.0
six==1.7.3
sqlparse==0.1.11
wsgiref==0.1.2
