{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
    <div class="page-title">
        <div class="container">
            <h1>Integritetspolicy</h1>
        </div>
    </div>
    <div class="container">
        <h2>1. Insamling av information</h2>
        <p>Vi samlar in och sparar information från din dator och webbläsare, inklusive din IP-adress, uppgifter om programvara och hårdvara och den begärda sidan.</p>

        <p>På webbplats hanteras följande personuppgifter:</p>

        <h3>Namn och e-postadress</h3>
        <p>Om du kontaktar oss behöver du ange kontaktuppgifter för att kunna få svar tillbaka. Dessa används inte på något annat sätt än för detta ändamål</p>

        <h3>IP-adress, uppgifter om programvara och hårdvara och den begärda sidan.</h3>
        <p>För att kunna förbättra vår webbplats samlas webbläsarinformation in tillsammans med verktyget Google Analytics. Dessa uppgifter anonymiseras till den grad det går och används inte till några andra syften.</p>

        <p>IP-adressen sparas även i serverloggar för felsökningssyften. Det kopplas inte ihop med några andra uppgifter som kan identifiera dig.</p>

        <h2>2. Användning av information</h2>
        <p>Den information vi samlar in från dig kan användas för att:</p>
        <ul>
            <li>Förbättra vår webbplats.</li>
            <li>Kontaktformulär.</li>
        </ul>

        <h2>3. Utlämnande till tredje part</h2>
        <p>Uppgifterna kommer inte att överföras till tredje part annat än i syfte att understödja föreningens kärnverksamhet. Innan uppgifter överförs till tredje part kommer du som kund behöva samtycka till detta, och uppgifterna delas aldrig utanför EU. Dina personuppgifter kommer heller inte att utsättas för automatiserat beslutsfattande.</p>

        <p>Om föreningen vid något enstaka tillfälle absolut måste dela dina personuppgifter med tredje part utan ditt explicita samtycke kommer du att informeras särskilt om detta.</p>

        <h3>Google Analytics</h3>
        <p>För att kunna förbättra vår webbplats samlas webbläsarinformation in tillsammans med verktyget Google Analytics. Dessa uppgifter anonymiseras till den grad det går och används inte till några andra syften.</p>

        <h3>Använder vi oss av cookies?</h3>
        <p>Ja, för att webbplatsen ska fungera krävs det att kakor lagras i webbläsaren.</p>

        <h2>4. Rätt att begära och radera information</h2>
        <p>Vill du veta om hur vi behandlar personuppgifter om dig alternativt radera/exportera data kan du kontakta oss via kontaktformuläret på sidan ”Kontakt”. Du har rätt att begära information om personuppgifter som behandlas om dig hos oss och att få uppgifter rättade.</p>

        <h2>5. Samtycke</h2>
        <p>Genom att använda vår webbplats godkänner du vår integritetspolicy.</p>
    </div>
{% endblock content %}
