{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}

    <div id="carousel" class="carousel carousel-fade slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/static/img/carousel/IMG_9864.jpg" alt="">

                <div class="carousel-caption">
                    <h3>Unik underhållning i världsklass...</h3>

                    <p>
                        För tredje året i rad har Sollos Minnesfond utsett LiTHe Blås till <i>Världens bästa
                        studentorkester</i>!
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="/static/img/carousel/IMG_6697.jpg" alt="">

                <div class="carousel-caption">
                    <h3>...när som helst, var som helst, hur som helst...</h3>

                    <p>
                        Vi kräver inte mer än ett eluttag, ett plant underlag att spela på och ett utrymme för baletten
                        att byta om i.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/static/img/carousel/15.jpg" alt="">

                <div class="carousel-caption">
                    <h3>...sedan 1973.</h3>

                    <p>
                        I över 40 år har vi spritt glädje och förundran i och utanför Linköping.
                    </p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" data-slide="prev"> <span
                class="glyphicon glyphicon-chevron-left"></span> </a>
        <a class="right carousel-control" href="#carousel" data-slide="next"> <span
                class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>

    <div class="jumbotron">
        <div class="container">
            <p>
                LiTHe Blås är orkestern som hängivet ägnar sig åt studentmusik. Våra färger är blå och off-yellow och vi
                kommer från Linköpings universitet.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row marketing">
            <div class="col-sm-4 item">
                <img src="/static/img/small/2.jpg">

                <h3>Ansök!</h3>

                <p>
                    Vill du vara med i vårt gäng? Just nu söker vi altsax, tenorsax och buss. Sök redan idag!
                </p>

                <p>
                    <a href="" class="btn btn-sm btn-success">Sök Blåset!</a>
                </p>
            </div>
            <div class="col-sm-4 item">
                <img src="/static/img/small/3.jpg">

                <h3>Boka!</h3>

                <p>
                    Många över hela Europa har redan upptäckt att LiTHe Blås med baletten Blåsyran kan få alla lokaler
                    att svänga i takt till tonerna från äkta svensk studentmusik, så varför inte bli ännu en av Blåsets
                    nöjda kunder?
                </p>

                <p>
                    <a href="" class="btn btn-sm btn-warning">Boka Blåset!</a>
                </p>
            </div>
            <div class="col-sm-4 item">
                <img src="/static/img/small/4.jpg">

                <h3>Titta och lyssna!</h3>

                <p>
                    Kom och se oss på någon av våra spelningar! Dessutom har vi spelat in flera skivor genom åren.
                </p>

                <p>
                    <a href="" class="btn btn-sm btn-info">Se Blåset!</a>
                </p>
            </div>
        </div>
    </div>
    {% placeholder 'content' %}

{% endblock content %}
