
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}


.middle {
    vertical-align: middle;
}

body {
    padding-top: 0;
    padding-bottom: 0;
}



header {
    background-image: url('/static/img/bg.gif');
    background-image: url('/static/img/bg.svg');
}

header .spacer {
    height: 12px;
}

header .top {
    padding: 12px 20px 0px 20px;
}

header .lead {
    color: #FFF26E;
    margin-bottom: 0px;
}



#user-tabs {
    margin-bottom: 15px;
}


/* Customize container 
@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
} */

.marketing .col-sm-4 {
    text-align: center;
    margin-bottom: 20px;
}

.marketing .col-sm-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

.marketing .col-sm-4 img {
    width: 200px;
}

.marketing h2 {
    font-weight: normal;
}

.carousel {
    margin-bottom: 50px;
}

.carousel-inner > .item > img {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

