html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
    background-color: #f5f5f5;
}

.middle {
    vertical-align: middle;
}

body {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-wrapper {
    margin-bottom: 21px;
}

header {
    background-image: url('/static/img/bg.gif');
    background-image: url('/static/img/bg.svg');
}

header .spacer {
    height: 12px;
}

header .top {
    padding: 12px 20px 0px 20px;
}

header .lead {
    color: #FFF26E;
    margin-bottom: 0px;
}

#user-tabs {
    margin-bottom: 15px;
}

.marketing .item {
    text-align: center;
    margin-bottom: 20px;
}

.marketing p {
    margin-left: 10px;
    margin-right: 10px;
}

.marketing img {
    width: 200px;
}

.marketing h3 {
    font-weight: normal;
}

.carousel {
    margin-bottom: 50px;
}

.carousel-inner > .item > img {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}