{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
<script src="/static/js/holder.js"></script>
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">{# Stoppar in en kolumn på var sida om karusellen så den inte blir så jävla bred. #}
        <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/img/carousel/2.jpg" alt="">
            <div class="carousel-caption">
                <h3>Unik underhållning i världsklass...</h3>
                <p>
                    För tredje året i rad har Sollos Minnesfond utsett LiTHe Blås till <i>Världens bästa studentorkester</i>!
                </p>
            </div>
        </div>
        
        <div class="item">
            <img src="/static/img/carousel/1.jpg" alt="">
            <div class="carousel-caption">
                <h3>...när som helst, var som helst, hur som helst...</h3>
                <p>
                    Vi kräver inte mer än ett eluttag, ett plant underlag att spela på och ett utrymme för baletten att byta om i.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/static/img/carousel/5.jpg" alt="">
            <div class="carousel-caption">
                <h3>...sedan 1973.</h3>
                <p>
                    I över 40 år har vi spritt glädje och förundran i och utanför Linköping.
                </p>
            </div>
        </div>
        
        <div class="item">
            <img src="/static/img/carousel/3.jpg" alt="">
            <div class="carousel-caption">
                <h3>Roligast i stan</h3>
                <p>
                    Verkligen, vi är riktigt roliga. Kanske du vill hänga med oss och spela? Skicka in din ansökan redan idag!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/static/img/carousel/4.jpg" alt="">
            <div class="carousel-caption">
                <h3>Roligast i stan</h3>
                <p>
                    Alla bilder MÅSTE ha samma proportioner. Typ 16:9.
                    Håller bilderna dessutom minst 1890 pixlar på bredden kommer de se riktigt bra ut på alla skärmar.
                </p>
            </div>
        </div>
        
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
    <a class="right carousel-control" href="#carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
</div>
    </div>
</div>

<div class="row marketing">
    <div class="col-sm-4">
        <!--{% placeholder 'Pusher 1' %}-->
        <img src="/static/img/small/2.jpg" class="img-circle">
        <h2>Ansök!</h2>
        <p>Just nu söker vi altsax, tenorsax och buss. Sök redan idag!</p>
    </div>
    <div class="col-sm-4">
        <!--{% placeholder 'Pusher 2' %}-->
        <img src="/static/img/small/3.jpg" class="img-circle">
        <h2>Boka!</h2>
        <p></p>
    </div>
    <div class="col-sm-4">
        <!--{% placeholder 'Pusher 3' %}-->
        <img src="/static/img/small/4.jpg" class="img-circle">
        <h2>Lyssna!</h2>
        <p></p>
    </div>
</div>

{% placeholder 'content' %}

{% endblock content %}
