{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}


{% block content %}

    {% addtoblock 'js' %}<script src="{% static 'js/jquery.imageScroll.js' %}"></script>{% endaddtoblock %}
    {% addtoblock 'js' %}<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>{% endaddtoblock %}
    <div class="parallax-img" data-image="/static/img/carousel/1.jpg" data-width="1440" data-height="810"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">

                    <h1>LiTHe Blås</h1>
                    <p>
                        ...är orkestern som hängivet ägnar sig åt studentmusik. Våra färger är blå och off-yellow och vi
                        kommer från Linköpings universitet.
                        Allt sedan 1973 har vi spritt glädje och förundran i trakterna kring Linköping – och vi tänker
                        fortsätta länge till.
                    </p>
            </div>
        </div>
    </div>
    <div class="parallax-img" data-image="/static/img/carousel/2.jpg" data-width="1440" data-height="810"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="img">
                    <img src="/static/img/small/4.jpg">
                </div>
                <div class="text">
                    <h1>Fart och fläkt på ditt evenemang.</h1>
                    <p>
                        Många över hela Europa har redan upptäckt att LiTHe Blås med baletten Blåsyran kan få alla
                        lokaler att svänga i takt till tonerna från äkta svensk studentmusik, så varför inte bli ännu en
                        av Blåsets nöjda kunder? Vi står för fartfylld underhållning på din fest, mässa, invigning eller
                        aktivitetsdag.
                    </p>
                    <a class="btn" href="">Boka!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-img" data-image="/static/img/carousel/3.jpg" data-width="640" data-height="360"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="text">
                    <h1>Roliga upptåg och minnen för livet.</h1>
                    <p>
                        Blåset är öppet för alla på LiU, oavsett campus eller utbildning. Om du spelar ett instrument
                        eller tycker det är roligt att dansa, tveka inte att ansöka redan idag. Vi vill ha <em>dig</em>!
                    </p>
                    <a class="btn" href="">Ansök!</a>
                </div>
                <div class="img">
                    <img src="/static/img/small/3.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-img" data-image="/static/img/carousel/4.jpg" data-width="1440" data-height="810"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="img">
                    <img src="/static/img/small/2.jpg">
                </div>
                <div class="text">
                    <h1>En annorlunda upplevelse.</h1>
                    <p>
                        Många över hela Europa har redan upptäckt att LiTHe Blås med baletten Blåsyran kan få alla
                        lokaler att svänga i takt till tonerna från äkta svensk studentmusik, så varför inte bli ännu en
                        av Blåsets nöjda kunder?
                    </p>
                    <a class="btn" href="">Lyssna!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-img" data-image="/static/img/carousel/5.jpg" data-width="1728" data-height="972"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="text">
                    <h1>Fart och fläkt. <small>Boka!</small></h1>
                    <p>
                        Många över hela Europa har redan upptäckt att LiTHe Blås med baletten Blåsyran kan få alla
                        lokaler att svänga i takt till tonerna från äkta svensk studentmusik, så varför inte bli ännu en
                        av Blåsets nöjda kunder?
                    </p>
                    <a class="btn" href="">Boka Blåset!</a>
                </div>
                <div class="img">
                    <img src="/static/img/small/1.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-img" data-image="/static/img/carousel/IMG_9864.jpg" data-width="1440" data-height="450"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="img">
                    <img src="/static/img/small/3.jpg">
                </div>
                <div class="text">
                    <h1>Fart och fläkt. <small>Boka!</small></h1>
                    <p>
                        Många över hela Europa har redan upptäckt att LiTHe Blås med baletten Blåsyran kan få alla
                        lokaler att svänga i takt till tonerna från äkta svensk studentmusik, så varför inte bli ännu en
                        av Blåsets nöjda kunder?
                    </p>
                    <a class="btn" href="">Boka Blåset!</a>
                </div>

            </div>
        </div>
    </div>


    {% addtoblock 'js' %}
        <script>
            var touch = Modernizr.touch;
            $('.parallax-img').imageScroll({
                //imageAttribute: (touch === true) ? 'image-mobile' : 'image',
                //parallax: true,
                touch: touch,
                //speed: 0.2,
                //holderMinHeight: 200,
                //mediaWidth: (touch === true) ? 800 : 1600,
                //mediaHeight: (touch === true) ? 405 : 810,
                coverRatio: 0.6
                //extraHeight: 50
            });
        </script>
    {% endaddtoblock %}
    <!--
    <div class="container">
        <div class="row marketing">
            <div class="col-sm-4 item">
                <img src="/static/img/small/2.jpg">

                <h3>Ansök!</h3>

                <p>
                    Vill du vara med i vårt gäng? Just nu söker vi altsax, tenorsax och buss. Sök redan idag!
                </p>

                <p>
                    <a href="" class="btn btn-sm btn-success">Sök Blåset!</a>
                </p>
            </div>
            <div class="col-sm-4 item">
                <img src="/static/img/small/3.jpg">

                <h3>Boka!</h3>

                <p>
                    Många över hela Europa har redan upptäckt att LiTHe Blås med baletten Blåsyran kan få alla lokaler
                    att svänga i takt till tonerna från äkta svensk studentmusik, så varför inte bli ännu en av Blåsets
                    nöjda kunder?
                </p>

                <p>
                    <a href="" class="btn btn-sm btn-warning">Boka Blåset!</a>
                </p>
            </div>
            <div class="col-sm-4 item">
                <img src="/static/img/small/4.jpg">

                <h3>Titta och lyssna!</h3>

                <p>
                    Kom och se oss på någon av våra spelningar! Dessutom har vi spelat in flera skivor genom åren.
                </p>

                <p>
                    <a href="" class="btn btn-sm btn-info">Se Blåset!</a>
                </p>
            </div>
        </div>
    </div>
    -->
    {% placeholder 'content' %}
{% endblock content %}
