{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
    <div class="page-title">
        <div class="container">
            <h1>500
                <small>Internt applikationsfel</small>
            </h1>
        </div>
    </div>
    <div class="container">
        <p class="lead">Attans bananer!</p>

        <p>Beklagar, men det verkar ha inträffat något fel. Det är högst sannolikt inte ditt fel. Vi har meddelats om
            problemet och jobbar för att åtgärda det.</p>
    </div>

{% endblock content %}
