{# This page inherits a lot from pages/base.html and in turn base.html. Consider making template changes to those. #}
{% extends 'pages/page.html' %}
{% load cms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-lg-8">
            {% placeholder 'page-content' %}
            <h1>Achtung!</h1>
            <p class="lead">
                Just när du trodde Kårallen var säker bjuder LiTHe Blås in till årets sista fest!
            </p>
            <p>
                Luciafesten äger rum lördagen den 13 december. Kårallens portar öppnas klockan 20:00 och sedan håller
                universitetets lustigaste, juligaste och mysigaste fest igång till någon gång framåt morgonkvisten.
            </p>
            <p>
                Under kvällen kommer du att få uppleva dans till levande musiker, goda drinkar i spännande barer, Kul
                Små Grejer&trade; att leka med och självfallet Harakiri – musikaliskt självmord i form av karaoke till
                liveband.
            </p>
            <p>
                Biljetter till årets juligaste festkväll kommer att släppas under pompa och ståt till det oerhört
                välljudande LiTHe Blås. De säljs till det facila priset av 100 kronor för kårmedlemmar och 110 kronor
                för övriga.
            </p>

            <h2>Julsittning</h2>
            <p>
                Även i år kan du inleda festkvällen med en fantastisk julsittning i Gasquen, med fördrink 17:30. I
                priset om 300 kr (290 kr med kårrabatt) ingår julbords- och efterrättsbuffé, förstklassig
                underhållning samt festbiljett.
            </p>

            <h2>Kul Små Grejer&trade;</h2>
            <p>
                Förutom all fantastisk dekor som finns för beskådan runt om i Kårallen kan du även stöta på KSG - Kul
                Små Grejer.
            </p>
            <p>
                Dessa föremål är i många fall interaktiva och kan antingen bjuda på utmanande pussel där det gäller att
                binda samman hjärna, råstyrka och en gnutta pajbakning, eller bara ge dig en käftsmäll i skrevet. Så
                samla ihop ett gäng vapendragare och utforska Kårallens alla våningar!
            </p>

            <h2>Harakiri</h2>
            <p class="lead">
                Gillar du att sjunga? Kanske är det så att du gör detta hellre än bra?
            </p>
            <p>
                I vilket fall som helst kan du under festen sjunga karaoke till Blåsets eget liveband nere i Gasquen,
                även känt som Harakiri. Bland mastodontutbudet av låtar hittar du allt från hip-hop till schlager, något
                för alla helt enkelt. Så beställ en julöl i baren och ta plats på scen, att sjunga fint är inte det
                viktigaste!
            </p>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Snabba fakta</h1>
                </div>
                <div class="panel-body">
                    <p>
                        <b>Vad?</b><br>
                        Årets sista, juligaste, mysigaste, mystiskaste och <em>unikaste</em> fest!
                    </p>
                    <p>
                        <b>När?</b><br>
                        13 december, klockan 20–03, julsittning 17:30.
                    </p>
                    <p>
                        <b>Var?</b><br>
                        Kårallen, Campus Valla.
                    </p>
                    <p>
                        <b>Klädkod?</b><br>
                        Fint eller finurligt!
                    </p>
                    <p>
                        <b>Biljettsläpp?</b><br>
                        5 december, klockan 12:15 i Colosseum och Täppan.
                    </p>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Följ Snuba på Facebook</h1>
                </div>
                <div class="panel-body">
                    <style scoped="scoped">
                        .fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] { width: 100% !important; }
                    </style>
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Snuba-Luciafest/819642224741936"
                         data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true"
                         data-show-border="false" data-height="550"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}