{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
    <div class="page-title">
        <div class="container">
            <h1>403
                <small>Åtkomst förbjuden</small>
            </h1>
        </div>

    </div>
    <div class="container">
        <p class="lead">Ajabaja!</p>

        <p>Beklagar, men du har inte behörighet att se den här sidan. Om du tycker att du borde ha det, kontakta
            webslaven.</p>
    </div>
{% endblock content %}