{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>LiTHe Blås{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        {% render_block "css" %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/latest/yeti/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://cdn.jsdelivr.net/html5shiv/latest/html5shiv.min.js"></script>
        <script src="http://cdn.jsdelivr.net/respond/latest/respond.min.js"></script>
        <![endif]-->

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
        {% render_block "js" %}
    </head>
    <body>
        {% cms_toolbar %}
        <header>
            <div class="container top">
                <div class="row">
                    <div class="hidden-xs col-sm-4 pull-down logo">
                        <br>
                        <a href="/"><img src="{% static 'img/overkropp.svg' %}" class="img-responsive center-block"></a>
                    </div>
                    <div class="col-xs-12 col-sm-8 pull-down head">
                        <a href="/"><img src="{% static 'img/logo.svg' %}" alt="LiTHe Blås" class="img-responsive" width="500"></a>
                        <p class="lead hidden-xs hidden-sm">
                            Linköpings Tekniska Högskolas Blåscorps sedan 1973
                        </p>
                        <div class="spacer"></div>
                    </div>
                    <script src="{% static 'js/pull-down.js' %}"></script> {# Det här skriptet bör ligga just här för att verkställa 'pull-down' så snabbt som möjligt #}
                </div>
            </div>
            <div class="navbar-wrapper">
                <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse" id="nav">
                            <ul class="nav navbar-nav">
                                {% show_menu 0 100 100 100 'elements/menu.html' %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% language_chooser 'elements/language_chooser.html' %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <div class="navbar-wrapper">
                <div class="navbar navbar-fixed-bottom navbar-default">
                    <div class="container">
                        <div class="navbar-collapse collapse">
                            <!--{% static_placeholder 'footer' %}-->
                            <ul class="nav navbar-nav">
                                {% if user.is_anonymous %}
                                <li>
                                    <a href="" data-toggle="modal" data-target="#login"><span class="fa fa-lg fa-fw fa-sign-in"></span> Logga in</a>
                                </li>
                                {% else %}
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-fw fa-user"></span> {{ user.full_name }}</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/sv/internt/blasbasen/person/{{ user.pk }}/">Profil</a>
                                        </li>
                                        {% if user.is_admin %}
                                        <li>
                                            <a href="/admin/">Admin</a>
                                        </li>
                                        {% endif %}
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{% url 'django.contrib.auth.views.logout' %}"><span class="fa fa-fw fa-sign-out"></span> Logga ut</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                
                                <li><a href="http://open.spotify.com/artist/3gwlyGQlIZzzVTgUWXghY6"><span class="fa fa-spotify fa-lg"></span></a></li>
                                <li><a href="https://www.youtube.com/results?search_query=lithe+bl%C3%A5s"><span class="fa fa-youtube fa-lg"></span></a></li>
                                <li><a href="http://facebook.com/litheblas"><span class="fa fa-facebook fa-lg"></span></a></li>
                                <li><a href="http://instagram.com/litheblas"><span class="fa fa-instagram fa-lg"></span></a></li>
                                <li><a href="https://plus.google.com/+LitheblasOrg"><span class="fa fa-google-plus fa-lg"></span></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Inloggning för medlemmar</h4>
                    </div>
                    <form role="form" class="form-horizontal" method="post" action="/login/?next={{ request.path }}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="username" class="control-label col-sm-3">Användarnamn</label>
                                <div class="col-sm-9">
                                    <input id="username" name="username" class="form-control" type="text" placeholder="Användarnamn">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="login_pass" class="control-label col-sm-3">Lösenord</label>
                                <div class="col-sm-9">
                                    <input id="password" name="password" class="form-control" type="password" placeholder="Lösenord">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Avbryt
                            </button>
                            <button type="submit" class="btn btn-success">
                                Logga in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

