{% extends 'pages/page.html' %}
{% load cms_tags crispy_forms_tags i18n sekizai_tags staticfiles %}


{% block content %}
    {% addtoblock 'js' %}<script src="/static/js/holder.js"></script>{% endaddtoblock %}
    <div class="row">
        <div class="col-md-5 contact-board">
            <h2>{% trans 'The board' %}</h2>
            <div class="media">
                <!-- <img class="media-object pull-left" src="{% static '/static/img/board/kartongqvist.png' %}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Simon Calderon <small>Dictator (ordförande)</small></h3>
                    <a href="mailto:dictator@litheblas.org">dictator@litheblas.org</a><br>
                    076 - 627 72 33
                </div>
            </div>
            <div class="media">
                <!-- <img class="media-object pull-left" src="{% static '/static/img/board/peo.png' %}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Karin Schalin  <small>Spelraggare</small></h3>
                    <a href="mailto:spelraggare@litheblas.org">spelraggare@litheblas.org</a><br>
                    072 - 721 09 70
                </div>
            </div>
            <div class="media">
                <!-- <img class="media-object pull-left" src="{% static '/static/img/board/knuff.png' %}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Albin Ytterberg <small>Kronharpa (kassör)</small></h3>
                    <a href="mailto:kronharpa@litheblas.org">kronharpa@litheblas.org</a><br>
                </div>
            </div>
            <div class="media">
                <!-- <img class="media-object pull-left" src="{% static '/static/img/board/tillton.png' %}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Gustav Wenemark <small>Domptör</small></h3>
                    <a href="mailto:domptor@litheblas.org">domptor@litheblas.org</a><br>
                </div>
            </div>
            <div class="media">
                <!-- <img class="media-object pull-left" src="{% static '/static/img/board/frigge.png' %}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">August Goldhahn <small>Yrstyre (balettchef)</small></h3>
                    <a href="mailto:yrstyre@litheblas.org">yrstyre@litheblas.org</a><br>
                </div>
            </div>
            <div class="media">
                <!-- <img class="media-object pull-left" src="{% static '/static/img/board/perry.png' %}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Josefine Kilborn <small>Skrivkunig (sekreterare)</small></h3>
                    <a href="mailto:skrivkunig@litheblas.org">skrivkunig@litheblas.org</a><br>
                </div>
            </div>
            <div class="media">
                <!-- <img class="media-object pull-left" src="{% static '/static/img/board/melvin.png' %}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Sofia Jönsson <small>Intendent</small></h3>
                    <a href="mailto:intendent@litheblas.org">intendent@litheblas.org</a><br>
                </div>
            </div>
            <div class="media">
                <!-- <img class="media-object pull-left" src="{% static '/static/img/board/trojan.png' %}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Irma Kidell Löwstedt <small>Notpiccolo</small></h3>
                    <a href="mailto:notpiccolo@litheblas.org">notpiccolo@litheblas.org</a><br>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h2>{% trans 'Keep in touch' %}</h2>
            {% placeholder 'page-content' %}
            <div class="row">
                <div class="col-sm-6">
                    <address>
                        <b>LiTHe Blås</b><br>
                        Kårallen, Linköpings universitet<br>
                        581 83 Linköping<br>
                        {% trans 'Sweden' %}
                    </address>
                </div>
                <div class="col-sm-6">
                    <p>{% trans 'Email' %}: <a href="mailto:lithe.blas@music.liu.se" target="_blank">lithe.blas@music.liu.se</a><br>
                        PlusGiro: 189397-3
                    </p>
                </div>
            </div>
            <div class="well">
            {% crispy form %}
                </div>
        </div>
    </div>
{% endblock content %}
