{% extends CMS_TEMPLATE %}
{% load cms_tags %}

{% block content %}
    <div class="page-header">
        <h1>{{ person.full_name }} 
            <small>
                {% if person.start_date %}{{ person.start_date.year }}{% endif %}–{% if person.end_date %}{{ person.end_date.year }}{% endif %}
            </small>
            <div class="pull-right">
                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Ändra</button>
                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirm-deletion"><span class="glyphicon glyphicon-trash"></span> Ta bort</button>
            </div>
        </h1>
    </div>
    
    <div class="modal fade" id="confirm-deletion" tabindex="-1" role="dialog" aria-labelledby="confirm-deletion" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Bekräfta borttagning</h4>
                </div>
                <div class="modal-body">
                    Du håller på att ta bort en person ur Blåsbasen. Detta är en permanent åtgärd och <strong>bör i normala fall aldrig göras.</strong> Med detta sagt – är du helt säker?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-danger">Ta bort person</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <img src="{{ person.primary_avatar.url }}" class="img-rounded img-responsive">
        <p class="lead">{{ person.about }}</p>
    </div>
    <div class="col-sm-9">
        <ul class="nav nav-tabs" id="user-tabs">
            <li class="active"><a href="#contact" data-toggle="tab">Kontakt och info</a></li>
            <li><a href="#membership" data-toggle="tab">Medlemsskap</a></li>
            <li><a href="#statistics" data-toggle="tab">Statistik</a></li>
            <li><a href="#mailing" data-toggle="tab">Mailinglistor</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="contact">
                <h3>Personliga uppgifter</h3>
                <dl class="dl-horizontal">
                    {% if person.gender %}
                    <dt>Kön</dt>
                    <dd>{% if person.gender == 'm' %}Man{% else %}Kvinna{% endif %}</dd>
                    {% endif %}
                    
                    {% if person.born %}
                    <dt>Född</dt>
                    <dd>{{ person.born }}{% if not person.deceased %} ({{ person.age }} år){% endif %}</dd>
                    {% endif %}
                    
                    {% if person.deceased %}
                    <dt>Avliden</dt>
                    <dd>{{ person.deceased }} ({{ person.age }} år)</dd>
                    {% endif %}
                </dl>
                
                <h3>Kontaktuppgifter</h3>
                <dl class="dl-horizontal">
                    <dt>Telefon</dt>
                    <dd><a href="tel:070-730 63 76">070-730 63 76</a></dd>
                    
                    {% if person.email %}
                    <dt>E-post</dt>
                    <dd><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
                    {% endif %}
                    
                    {% if person.address or person.postcode or person.city %}
                    <dt>Adress</dt>
                    <dd><address>{{ person.address }}<br>{{ person.post_code }} {{person.city}}</address></dd>
                    {% endif %}
                </dl>
            </div>
            <div class="tab-pane" id="membership">
                {% if memberships|length > 0 %}
                <h3>Medlemsskap</h3>
                <dl class="dl-horizontal">
                    {% for i in memberships %}
                    <dt>{{ i.post }}{% if i.trial %}*{% endif %}</dt>
                    <dd>{{ i.start_date}} – {% if i.end_date %}{{ i.end_date }}{% endif %}</dd>
                    {% endfor %}
                </dl>
                {% endif %}
                
                {% if engagements|length > 0 %}
                <h3>Uppdrag</h3>
                <dl class="dl-horizontal">
                    {% for i in engagements %}
                    <dt>{{ i.post }}{% if i.trial %}*{% endif %}</dt>
                    <dd>{{ i.start_date}} – {% if i.end_date %}{{ i.end_date }}{% endif %}</dd>
                    {% endfor %}
                </dl>
                {% endif %}
                *Provmedlemsskap
            </div>
            <div class="tab-pane" id="statistics">3</div>
            <div class="tab-pane" id="mailing">4</div>
        </div>
    </div>
{% endblock content %}
